.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
    /* border-radius: 0 0 100% 100%; */
}

.bg-img .titr {
    top: 400px;
    width: 60%;
    left: 40%;
    height: 98px;
    font-size: 25px;
}

.bg-img .titr h3 {
    margin-top: -5px;
    line-height: 40px;
}

.bg-img .titr .triangle {
    border-top: 70px solid transparent;
    border-left: 70px solid #007bff;
    border-bottom: 70px solid transparent;
    right: 59px;
    top: -102px;
}

.text {
    margin: 0 auto;
    margin-top: 100px;
    direction: rtl;
    line-height: 40px;
    text-align: right;
}


/* .text img{
    margin: 0 auto;
    height: 28em;
    /* aspect-ratio:1/1; */


}
*/ @media screen and (min-width:1000px) {
    .text img {
        height: 33em;
    }
}
.title {
    height: 95px;
}